In [24]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import os
import datetime
from functools import partial

In [25]:
data = pd.read_csv("MINDTREE.csv")

In [26]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42

In [27]:
data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,MINDTREE,EQ,07-May-2019,981.75,982.8,985.00,975.00,981.0,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.0,985.00,971.05,982.0,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.6,983.15,976.10,980.9,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.4,982.90,973.00,974.0,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.4,983.00,970.30,981.0,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [28]:
data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.00000
mean,778.486032,779.720547,792.118421,767.127328,779.634919,779.434413,780.076619,1.388615e+06,1.191635e+09,33021.139676,3.463618e+05,29.18668
std,214.140514,214.851383,218.056333,210.381329,214.484986,213.989087,214.038370,1.450169e+06,1.373025e+09,30613.616442,3.420743e+05,14.05687
min,442.500000,443.000000,448.750000,439.050000,441.400000,442.500000,442.240000,4.630000e+04,2.305583e+07,1502.000000,1.505300e+04,5.87000
25%,537.025000,537.975000,545.862500,528.012500,535.862500,537.400000,537.410000,5.724762e+05,3.399893e+08,14062.750000,1.523290e+05,18.69500
50%,835.075000,838.000000,851.525000,820.625000,835.025000,835.875000,835.615000,1.006586e+06,8.580623e+08,25609.500000,2.529855e+05,26.39500
75%,968.137500,968.500000,980.500000,949.450000,969.950000,969.775000,967.802500,1.631997e+06,1.431053e+09,42737.000000,4.366368e+05,37.06250
max,1161.950000,1165.000000,1183.800000,1147.800000,1166.000000,1161.950000,1167.480000,1.338521e+07,1.298866e+10,311806.000000,3.851210e+06,91.89000

In [29]:
filtered_data = data[data.Series == 'EQ']
filtered_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,07-May-2019,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [30]:
filtered_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42

In [31]:
filtered_data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,MINDTREE,EQ,07-May-2019,981.75,982.8,985.00,975.00,981.0,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.0,985.00,971.05,982.0,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.6,983.15,976.10,980.9,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.4,982.90,973.00,974.0,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.4,983.00,970.30,981.0,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [32]:
filtered_data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.00000
mean,778.486032,779.720547,792.118421,767.127328,779.634919,779.434413,780.076619,1.388615e+06,1.191635e+09,33021.139676,3.463618e+05,29.18668
std,214.140514,214.851383,218.056333,210.381329,214.484986,213.989087,214.038370,1.450169e+06,1.373025e+09,30613.616442,3.420743e+05,14.05687
min,442.500000,443.000000,448.750000,439.050000,441.400000,442.500000,442.240000,4.630000e+04,2.305583e+07,1502.000000,1.505300e+04,5.87000
25%,537.025000,537.975000,545.862500,528.012500,535.862500,537.400000,537.410000,5.724762e+05,3.399893e+08,14062.750000,1.523290e+05,18.69500
50%,835.075000,838.000000,851.525000,820.625000,835.025000,835.875000,835.615000,1.006586e+06,8.580623e+08,25609.500000,2.529855e+05,26.39500
75%,968.137500,968.500000,980.500000,949.450000,969.950000,969.775000,967.802500,1.631997e+06,1.431053e+09,42737.000000,4.366368e+05,37.06250
max,1161.950000,1165.000000,1183.800000,1147.800000,1166.000000,1161.950000,1167.480000,1.338521e+07,1.298866e+10,311806.000000,3.851210e+06,91.89000

In [33]:
filtered_data.tail(90)['Close Price'].max()

989.4

In [34]:
filtered_data.tail(90)['Close Price'].min()

812.25

In [35]:
filtered_data.tail(90)['Close Price'].mean()

918.6122222222218

In [36]:
filtered_data['Date'] = pd.to_datetime(filtered_data['Date'])
filtered_data['Date'].dtype

dtype('<M8[ns]')

In [37]:
filtered_data['Date'].max()-filtered_data['Date'].min()

Timedelta('728 days 00:00:00')

In [38]:
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['VWAP'] = (data['Close Price'] * data['Total Traded Quantity']).cumsum() / data['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = data[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  516.202743
      2019  843.125130
2     2018  572.722380
      2019  846.155182
3     2018  609.866603
      2019  848.327396
4     2018  651.524063
      2019  853.178143
5     2017  509.450000
      2018  730.334478
      2019  856.030810
6     2017  522.517683
      2018  760.847401
7     2017  528.654830
      2018  776.898919
8     2017  521.674873
      2018  806.405595
9     2017  514.842649
      2018  822.588413
10    2017  503.871258
      2018  840.417469
11    2017  501.226909
      2018  842.242954
12    2017  504.364596
      2018  842.393059

In [40]:
def avg_price(N):
    return (data['Average Price'].tail(N).sum())/N
print("Average prices for last N days:")
print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(20))
print("Last 3 months",avg_price(60))
print("Last 6 months",avg_price(120))
print("Last 1 year",avg_price(240))
print("Profit/Loss % for N days:")
def prof_loss(N):
    difference = (data['Close Price'].tail(N).iloc[N-1] - data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days:")
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last 1 month",prof_loss(20))
print("Last 3 months",prof_loss(60))
print("Last 6 months",prof_loss(120))
print("Last 1 year",prof_loss(240))

Average prices for last N days:
Last 1 week 979.4680000000001
Last 2 weeks 979.175
Last 1 month 978.2695
Last 3 months 943.5338333333333
Last 6 months 903.1566666666666
Last 1 year 948.6203333333334
Profit/Loss % for N days:
Loss/Profit percentage for last N days:
Last 1 week 0.0868144214074173
Last 2 weeks 0.33193749361658664
Last 1 month 0.9038913287713229
Last 3 months 6.235318149320811
Last 6 months 14.166070881421719
Last 1 year 4.064957614135426

In [41]:
data['Day_Perc_Change'] = data['Close Price'].pct_change().fillna(0)
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,509.450000,0.000000
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,510.249582,0.003631
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,508.495948,-0.009681
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,500.779579,-0.026563
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,500.222798,0.009333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,07-May-2019,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5,2019,856.636578,-0.001833
490,MINDTREE,EQ,08-May-2019,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5,2019,857.418361,0.000561
491,MINDTREE,EQ,09-May-2019,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5,2019,858.098293,-0.000051
492,MINDTREE,EQ,10-May-2019,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5,2019,858.135098,-0.005202
493,MINDTREE,EQ,13-May-2019,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5,2019,858.220789,0.003845

In [42]:
if ((data['Day_Perc_Change'] >= -0.5) & (data['Day_Perc_Change'] <= 0.5)).all():
    data['Trend'] = 'Slight or No change'
if ((data['Day_Perc_Change'] >= 0.5) & (data['Day_Perc_Change'] <= 1)).all():
    data['Trend'] = 'Slight positive'
if ((data['Day_Perc_Change'] <= -0.5) & (data['Day_Perc_Change'] >= -1)).all():
    data['Trend'] = 'Slight negative'
if ((data['Day_Perc_Change'] >= 1) & (data['Day_Perc_Change'] <= 3)).all():
    data['Trend'] = 'Positive' 
if ((data['Day_Perc_Change'] <= -1) & (data['Day_Perc_Change'] >= -3)).all():
    data['Trend'] = 'Negative'
if ((data['Day_Perc_Change'] >= 3) & (data['Day_Perc_Change'] <= 7)).all():
    data['Trend'] = 'Among top gainers'
if ((data['Day_Perc_Change'] <= -3) & (data['Day_Perc_Change'] >= -7)).all():
    data['Trend'] = 'Among top losers'
if (data['Day_Perc_Change'] > 7).all():
    data['Trend'] = 'Bull run' 
if (data['Day_Perc_Change'] < -7).all():
    data['Trend'] = 'Bear drop' 
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,509.450000,0.000000,Slight or No change
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,510.249582,0.003631,Slight or No change
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,508.495948,-0.009681,Slight or No change
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,500.779579,-0.026563,Slight or No change
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,500.222798,0.009333,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,07-May-2019,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5,2019,856.636578,-0.001833,Slight or No change
490,MINDTREE,EQ,08-May-2019,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5,2019,857.418361,0.000561,Slight or No change
491,MINDTREE,EQ,09-May-2019,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5,2019,858.098293,-0.000051,Slight or No change
492,MINDTREE,EQ,10-May-2019,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5,2019,858.135098,-0.005202,Slight or No change
493,MINDTREE,EQ,13-May-2019,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5,2019,858.220789,0.003845,Slight or No change

In [43]:
data.groupby(data.Trend).mean()['Total Traded Quantity']
data.groupby(data.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    1006586.5
Name: Total Traded Quantity, dtype: float64

In [44]:
data.to_csv('week2.csv')